# Import Libraries

In [23]:
import pandas as pd
import numpy as np
from faker import Faker

#Initializing Faker
fake = Faker()
Faker.seed(12345)

from datetime import datetime

import mysql.connector

import psycopg2


from sqlalchemy import create_engine

# Base

In [24]:
df_full_base = pd.read_csv(r"C:\Users\katita\OneDrive\Documentos\Documentos de Disco\Kaggle ETL Process\amazon_prime_users.csv")
df_full_base

,User ID,Name,Email Address,Username,Date of Birth,Gender,Location,Membership Start Date,Membership End Date,Subscription Plan,Payment Information,Renewal Status,Usage Frequency,Purchase History,Favorite Genres,Devices Used,Engagement Metrics,Feedback/Ratings,Customer Support Interactions
0,1,Ronald Murphy,williamholland@example.com,williamholland,1953-06-03,Male,Rebeccachester,2024-01-15,2025-01-14,Annual,Mastercard,Manual,Regular,Electronics,Documentary,Smart TV,Medium,3.6,3
1,2,Scott Allen,scott22@example.org,scott22,1978-07-08,Male,Mcphersonview,2024-01-07,2025-01-06,Monthly,Visa,Manual,Regular,Electronics,Horror,Smartphone,Medium,3.8,7
2,3,Jonathan Parrish,brooke16@example.org,brooke16,1994-12-06,Female,Youngfort,2024-04-13,2025-04-13,Monthly,Mastercard,Manual,Regular,Books,Comedy,Smart TV,Low,3.3,8
3,4,Megan Williams,elizabeth31@example.net,elizabeth31,1964-12-22,Female,Feliciashire,2024-01-24,2025-01-23,Monthly,Amex,Auto-renew,Regular,Electronics,Documentary,Smart TV,High,3.3,7
4,5,Kathryn Brown,pattersonalexandra@example.org,pattersonalexandra,1961-06-04,Male,Port Deborah,2024-02-14,2025-02-13,Annual,Visa,Auto-renew,Frequent,Clothing,Drama,Smart TV,Low,4.3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2496,Michael Lopez,williamsroberto@example.org,williamsroberto,1967-08-19,Male,Smithport,2024-01-25,2025-01-24,Annual,Visa,Auto-renew,Frequent,Electronics,Comedy,Smartphone,Medium,4.9,2
2496,2497,Matthew Woodard,lkaiser@example.com,lkaiser,1980-10-23,Male,Ethanport,2024-03-03,2025-03-03,Annual,Amex,Manual,Frequent,Books,Comedy,Smart TV,Medium,4.0,0
2497,2498,Morgan Barnes,erikaholland@example.net,erikaholland,1972-03-31,Female,Alexandraborough,2024-02-09,2025-02-08,Annual,Visa,Manual,Frequent,Electronics,Documentary,Tablet,Low,4.9,8
2498,2499,Gina Castaneda,reedcourtney@example.net,reedcourtney,1965-08-02,Female,Williammouth,2024-02-18,2025-02-17,Monthly,Visa,Manual,Regular,Clothing,Comedy,Smartphone,High,3.4,7
2499,2500,Mark Nicholson,martinisaac@example.net,martinisaac,1972-11-13,Female,Estradaborough,2024-01-28,2025-01-27,Annual,Visa,Auto-renew,Regular,Books,Documentary,Smart TV,High,3.3,9

In [25]:
df_full_base[['Feedback/Ratings','Customer Support Interactions']].describe()

       Feedback/Ratings  Customer Support Interactions
count       2500.000000                    2500.000000
mean           4.004760                       4.951600
std            0.580769                       3.191572
min            3.000000                       0.000000
25%            3.500000                       2.000000
50%            4.000000                       5.000000
75%            4.500000                       8.000000
max            5.000000                      10.000000

In [26]:
if len(df_full_base[df_full_base[['User ID', 'Username', 'Name']].duplicated()==True]) ==0:
  print("This df_full_base dataframe has one value for user id per line")
else:
  print("Check")

This df_full_base dataframe has one value for user id per line

In [27]:
df_full_base.columns

Index(['User ID', 'Name', 'Email Address', 'Username', 'Date of Birth',
       'Gender', 'Location', 'Membership Start Date', 'Membership End Date',
       'Subscription Plan', 'Payment Information', 'Renewal Status',
       'Usage Frequency', 'Purchase History', 'Favorite Genres',
       'Devices Used', 'Engagement Metrics', 'Feedback/Ratings',
       'Customer Support Interactions'],
      dtype='object')

# Separating Bases

In this ETL process, I will create 3 bases
1) Users` personal information
2) Users` subscription information
3) Engagement metrics
4) Interactions with customer service

In [28]:
df_users = df_full_base[['User ID', 'Name', 'Email Address', 'Username', 'Date of Birth',
       'Gender', 'Location']].drop_duplicates()
df_users = df_users.rename(columns={"User ID":"UserId", "Email Address": "Email", "Date of Birth":"DateBirth"})
df_users

,UserId,Name,Email,Username,DateBirth,Gender,Location
0,1,Ronald Murphy,williamholland@example.com,williamholland,1953-06-03,Male,Rebeccachester
1,2,Scott Allen,scott22@example.org,scott22,1978-07-08,Male,Mcphersonview
2,3,Jonathan Parrish,brooke16@example.org,brooke16,1994-12-06,Female,Youngfort
3,4,Megan Williams,elizabeth31@example.net,elizabeth31,1964-12-22,Female,Feliciashire
4,5,Kathryn Brown,pattersonalexandra@example.org,pattersonalexandra,1961-06-04,Male,Port Deborah
...,...,...,...,...,...,...,...
2495,2496,Michael Lopez,williamsroberto@example.org,williamsroberto,1967-08-19,Male,Smithport
2496,2497,Matthew Woodard,lkaiser@example.com,lkaiser,1980-10-23,Male,Ethanport
2497,2498,Morgan Barnes,erikaholland@example.net,erikaholland,1972-03-31,Female,Alexandraborough
2498,2499,Gina Castaneda,reedcourtney@example.net,reedcourtney,1965-08-02,Female,Williammouth
2499,2500,Mark Nicholson,martinisaac@example.net,martinisaac,1972-11-13,Female,Estradaborough

In [29]:
df_subscription = df_full_base[['User ID','Membership Start Date', 'Membership End Date',
       'Subscription Plan', 'Payment Information', 'Renewal Status']].drop_duplicates()
df_subscription = df_subscription.rename(columns={"User ID": "UserId", "Membership Start Date": "MembershipStartDate","Membership End Date":"MembershipEndDate","Subscription Plan":"SubscriptionPlan", "Payment Information":"PaymentInformation", "Renewal Status":"RenewalStatus"  })
df_subscription

,UserId,MembershipStartDate,MembershipEndDate,SubscriptionPlan,PaymentInformation,RenewalStatus
0,1,2024-01-15,2025-01-14,Annual,Mastercard,Manual
1,2,2024-01-07,2025-01-06,Monthly,Visa,Manual
2,3,2024-04-13,2025-04-13,Monthly,Mastercard,Manual
3,4,2024-01-24,2025-01-23,Monthly,Amex,Auto-renew
4,5,2024-02-14,2025-02-13,Annual,Visa,Auto-renew
...,...,...,...,...,...,...
2495,2496,2024-01-25,2025-01-24,Annual,Visa,Auto-renew
2496,2497,2024-03-03,2025-03-03,Annual,Amex,Manual
2497,2498,2024-02-09,2025-02-08,Annual,Visa,Manual
2498,2499,2024-02-18,2025-02-17,Monthly,Visa,Manual
2499,2500,2024-01-28,2025-01-27,Annual,Visa,Auto-renew

In [30]:
df_engagement = df_full_base[['User ID', 'Usage Frequency', 'Purchase History', 'Favorite Genres',
       'Devices Used', 'Engagement Metrics']].drop_duplicates()
df_engagement = df_engagement.rename(columns={"User ID": "UserId", "Usage Frequency": "UsageFrequency", "Purchase History": "PurchaseHistory", "Favorite Genres": "FavoriteGenres", "Devices Used":"DevicesUsed", "Engagement Metrics":"EngagementMetrics"})
df_engagement

,UserId,UsageFrequency,PurchaseHistory,FavoriteGenres,DevicesUsed,EngagementMetrics
0,1,Regular,Electronics,Documentary,Smart TV,Medium
1,2,Regular,Electronics,Horror,Smartphone,Medium
2,3,Regular,Books,Comedy,Smart TV,Low
3,4,Regular,Electronics,Documentary,Smart TV,High
4,5,Frequent,Clothing,Drama,Smart TV,Low
...,...,...,...,...,...,...
2495,2496,Frequent,Electronics,Comedy,Smartphone,Medium
2496,2497,Frequent,Books,Comedy,Smart TV,Medium
2497,2498,Frequent,Electronics,Documentary,Tablet,Low
2498,2499,Regular,Clothing,Comedy,Smartphone,High
2499,2500,Regular,Books,Documentary,Smart TV,High

In [31]:
df_cust_support_interation = df_full_base[['User ID','Feedback/Ratings',
       'Customer Support Interactions']]
df_cust_support_interation = df_cust_support_interation.rename(columns={"User ID": "UserId", "Feedback/Ratings":"FeedbackRatings","Customer Support Interactions": "CustomerSupportInteractions" })
df_cust_support_interation

      UserId  FeedbackRatings  CustomerSupportInteractions
0          1              3.6                            3
1          2              3.8                            7
2          3              3.3                            8
3          4              3.3                            7
4          5              4.3                            1
...      ...              ...                          ...
2495    2496              4.9                            2
2496    2497              4.0                            0
2497    2498              4.9                            8
2498    2499              3.4                            7
2499    2500              3.3                            9

[2500 rows x 3 columns]

Considering that df_cust_support_interation is a compiled base of interactions, I will create a base simulating the registers of each interaction.

In [32]:
def generate_rating(mean):
    rating_number = np.random.normal(loc=mean, scale=1, size=1)
    rating_number = np.clip(rating_number, 1, 5)
    return round(float(rating_number),1)

In [33]:
def generate_interactions(customer_id, mean, num_interac, all_interactions):
    interac_data = []
    sum_ratings = 0
    for i in range(1, num_interac):    
        interaction_id = fake.unique.random_int(min =1, max= 999999)
        interaction_date = fake.date_between_dates(date_start = datetime(2024,1,1), date_end = datetime(2024,3,31))
        rating = generate_rating(mean)
        interac_data.append((customer_id,interaction_id,interaction_date, rating))
        sum_ratings += rating
    interaction_id = fake.unique.random_int(min =1, max= 999999)
    interaction_date = fake.date_between_dates(date_start = datetime(2024,1,1), date_end = datetime(2024,3,31))
    rating = round((num_interac * mean) - sum_ratings, 1) 
    interac_data.append((customer_id,interaction_id,interaction_date, rating))
    all_interactions += interac_data

In [34]:
all_interactions = []
for i in df_cust_support_interation.index:
    generate_interactions(
        df_cust_support_interation.iloc[i]['UserId'],
        df_cust_support_interation.iloc[i]['FeedbackRatings'],
        int(df_cust_support_interation.iloc[i]['CustomerSupportInteractions']),
        all_interactions   
    )
df_cust_sup_dates = pd.DataFrame(all_interactions, columns= ('UserId','InteractionId','InteractionDate', 'Rating'))
df_cust_sup_dates

       UserId  InteractionId InteractionDate  Rating
0         1.0         436858      2024-03-12     4.4
1         1.0          10664      2024-03-20     3.6
2         1.0         865292      2024-03-18     2.8
3         2.0         313147      2024-03-24     4.5
4         2.0         386308      2024-01-19     4.5
...       ...            ...             ...     ...
12612  2500.0         890752      2024-03-08     1.0
12613  2500.0         524745      2024-01-07     2.7
12614  2500.0         107047      2024-02-14     3.2
12615  2500.0          38042      2024-02-09     2.6
12616  2500.0         314852      2024-03-27     8.9

[12617 rows x 4 columns]

In [35]:
conn_string = 'postgresql://postgres:12345678@localhost'
  
db = create_engine(conn_string) 
conn = db.connect() 
  
  
# Create DataFrame 
df_users.to_sql('n0_users_personal_info', schema="amazon_etl_process", con=conn, if_exists='replace', 
          index=False)

500

In [36]:
df_subscription.to_sql('n0_subscription', schema="amazon_etl_process", con=conn, if_exists='replace', 
          index=False)

500

In [37]:
df_engagement.to_sql('n0_engagement', schema="amazon_etl_process", con=conn, if_exists='replace', 
          index=False)

500

In [38]:
df_cust_sup_dates.to_sql('n0_customer_interation', schema="amazon_etl_process", con=conn, if_exists='replace', 
          index=False)

617